In [3]:
#print Statement
print("Hope AI")

Hope AI

In [7]:
#Buy input
institute_name = input("Enter your institute name:")

Enter your institute name: Hope AI

In [8]:
#Buy inputs
Name = input("Enter your name : ")
Age = int(input("Enter your age: "))
School = input("Enter your school: ")
Degree = input("Enter your Degree: ")

Enter your name :  Revathi
Enter your age:  34
Enter your school:  Ethel Harvey
Enter your Degree:  Bsc (IT)

In [9]:
#Addition
a = 43
print("a = ",a)
b = 34
print("b =",b)
add = a + b
print("add =",add)

a =  43
b = 34
add = 77

In [12]:
#Subtraction
a = 43
print("a = ",a)
b = 34
print("b =",b)
sub = a - b
print("sub =",sub)

a =  43
b = 34
sub = 9

In [13]:
#Multiplication
a = 63
print("a = ",a)
b = 97
print("b =",b)
Mul = a * b
print("Mul =",Mul)

a =  63
b = 97
Mul = 6111

In [16]:
#Division
a = 76
print("a = ",a)
b = 31
print("b =",b)
Float_Div = a / b
print("Float Div =",Float_Div)

a =  76
b = 31
Float Div = 2.4516129032258065

In [17]:
#Floor division
a = 76
print("a = ",a)
b = 31
print("b =",b)
Floor_Div = a / b
print("Floor_Div =",int(Floor_Div))

a =  76
b = 31
Floor_Div = 2

In [19]:
#Modulo
a = 76
print("a = ",a)
b = 31
print("b =",b)
Modulo = a % b
print("Modulo =",Modulo)

a =  76
b = 31
Modulo = 14

In [21]:
#Power
a = 4
print("a = ",a)
b = 4
print("b =",b)
power = a ** b
print("Power =",power)

a =  4
b = 4
Power = 256